<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style.css">
    <title>Banco de alimentos de Mexico</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <h2>Bienvenido/a, <%= name %></h2>
    <canvas id="chart"></canvas>
    <script>
        var ctx = document.getElementById('chart').getContext('2d');
        var chartConfig = <%- chartConfig %>;

        console.log(chartConfig); // Verifica el contenido de chartConfig en el cliente

        var chart = new Chart(ctx, chartConfig);
    </script>
    <form action="logout?_method=DELETE" method="POST">
        <button type="submit">Cerrar sesión</button>
    </form>
</body>
</html>
